* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body {
    background-color: #635e50;
    color: white;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;    
    min-height: 100vh; 
}

.container {
    background-color: #2e2d29;
    padding: 30px;
    border-radius: 30px; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 2); 
    
    text-align: center;
    width: 90%;
    max-width: 600px;
}

.header {
    background-color: #080c30;
    margin-bottom: 25px;
    border-radius: 30px;
    border: 10px gray solid;
}

#input {
    background-color: black;
    color: white;
    border: 2px solid #7f8c8d;
    border-radius: 8px;
    padding: 12px;
    width: 40%;
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
    transition: border-color 0.3s ease;
}

#input:focus {
    outline: none;
    border-color: #34495e;
}

#input::placeholder {
    color: #95a5a6;
}

#btn {
    background-color: #1abc9c;
    color: white;
    
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    width: 25%;
    
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#btn2 {
    background-color: gray;
    color: white;
    
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    width: 25%;
    
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#btn:hover {
    background-color: #16a085;
}

.message-area {
    background-color: #c1c5e8;
    margin-top: 20px;
    min-height: 40px;
    font-size: 1.1em;
    border-radius: 10px;
}

#number-of-attempts {
    font-size: 1.4em;
    font-weight: bold;
    color: purple;
}
#number-of-tries {
    font-size: 1.4em;
    font-weight: bold;
    color: purple;
}

 #title{
    margin-bottom: 10px;
 }
